body{
    margin: 0px auto;
    max-width: 1200px;
}

header{
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-size: auto 175px;
}

#logo{
    width: 170px;
    padding: 34px 6px 6px;
}

#titolo{
    margin:0px 0px;
}

#titolo h1{
    margin: 15px 0px 0px 0px;
    line-height: 35px;
    font-size: 34px;
}

#titolo p{
    font-size: 12px;
    line-height: 10px;
    margin: 3px 0px 20px 0px;
    color: #848484;
}
    
#titolo span{
    font-size:15px;
    color: #848484;
}

span #celeste {
    color: #3BB3E8;
}

.photo{
    width: 440px;
    height: 320px;
}

main{
    margin: 0px 7px 0px 7px;
}

.contenuto{
    font-size: 14px;
}

ul{
    padding: 15px 13px;
}

table{
    font-size: 14px;
    border-collapse: collapse;
    font-weight: 450;
    text-align: left;
}

th{
    color: white;
    background-color: #20A9E5;
}

table td{
    min-width: 200px;
}

.colored-row{
    background-color: #B1E5F2;
}

footer{
    padding: 0px 7px 0px 7px;
}

footer p{
    font-size: 15px;
    margin-bottom: 5px;
    color: #848484;
}

.recommended{
    width: 175px;
    height: 135px;
    background-size: cover;
    margin-bottom: 9px;
    color: white;
    font-size: 17px;
    padding: 7px 0px 0px 7px;;
}

#monitor{
    background-image: url("../img/monitor.jpg");
}

#graph{
    background-image: url("../img/graph.jpg");
}