body{
    margin: 0px auto;
    max-width: 1200px;
    text-align: ;
}

header{
    background-image: url("img/pattern.png");
    background-color: #4EA0FF;
    background-size: auto 150px;
}

#logo{
    width: 135px;
    padding: 32px 5px 5px;
}

#titolo{
    margin:0px 0px;
}

#titolo h1{
    margin: 10px 0px 0px 0px;
    line-height: 30px;
    font-size: 28px;
}

#titolo p{
    font-size: 8px;
    line-height: 8px;
    margin: 3px 0px 20px 0px;
    color: #848484;
}
    
#titolo span{
    font-size:13px;
    color: #848484;
}

span #celeste {
    color: #3BB3E8;
}

.photo{
    width: 350px;
    height: 240px;
}

main{
    margin: 0px 7px 0px 7px;
}

.contenuto{
    font-size: 11px;
}

ul{
    padding: 15px 13px;
}

table{
    font-size: 11px;
    border-collapse: collapse;
    font-weight: 450;
}

.first{
    background-color: #20A9E5;
    color: white;
}

.second{
    background-color: #B1E5F2;
}

.third{
    background-color: white;
}

.big{
    width: 50%;
}

footer{
    padding: 0px 7px 0px 7px;
}

footer p{
    font-size: 13px;
    margin-bottom: 5px;
    color: #848484;
}

.recommended{
    width: 150px;
    height: 110px;
    background-size: cover;
    margin-bottom: 7px;
    color: white;
    font-size: 14px;
    padding: 7px 0px 0px 7px;;
}

#monitor{
    background-image: url(img/monitor.jpg);
}

#graph{
    background-image: url(img/graph.jpg);
}